@font-face {
  font-family: 'Lato';
  src: url("/fonts/lato/Lato-Regular.eot");
  src: url("/fonts/lato/Lato-Regular.eot?#iefix") format('embedded-opentype'), url("/fonts/latotf/Lato-Regular.woff") format('woff'), url("/fonts/tk-lato/Lato-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Lato';
  src: url("/fonts/lato/Lato-Italic.eot");
  src: url("/fonts/lato/Lato-Italic.eot?#iefix") format('embedded-opentype'), url("/fonts/latotf/Lato-Italic.woff") format('woff'), url("/fonts/lato/Lato-Italic.ttf") format('truetype');
  font-style: italic;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Lato';
  src: url("/fonts/lato/Lato-Medium.eot");
  src: url("/fonts/lato/Lato-Medium.eot?#iefix") format('embedded-opentype'), url("/fonts/latotf/Lato-Medium.woff") format('woff'), url("/fonts/lato/Lato-Medium.ttf") format('truetype');
  font-style: normal;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Lato';
  src: url("/fonts/lato/Lato-Semibold.eot");
  src: url("/fonts/lato/Lato-Semibold.eot?#iefix") format('embedded-opentype'), url("/fonts/latotf/Lato-Semibold.woff") format('woff'), url("/fonts/lato/Lato-Semibold.ttf") format('truetype');
  font-style: normal;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Lato';
  src: url("/fonts/lato/Lato-Bold.eot");
  src: url("/fonts/lato/Lato-Bold.eot?#iefix") format('embedded-opentype'), url("/fonts/latotf/Lato-Bold.woff") format('woff'), url("/fonts/lato/Lato-Bold.ttf") format('truetype');
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}