html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

body {
  line-height: 1;
  color: #000;
  background: #fff;
}

ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

caption,
th,
td {
  font-weight: normal;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

blockquote,
q {
  quotes: "" "";
}

/* amatic-sc-700 - latin */
@font-face {
  font-family: "Amatic SC";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/amatic-sc-v13-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Amatic SC Bold"), local("AmaticSC-Bold"), url("/assets/fonts/amatic-sc-v13-latin-700.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/amatic-sc-v13-latin-700.woff2") format("woff2"), url("/assets/fonts/amatic-sc-v13-latin-700.woff") format("woff"), url("/assets/fonts/amatic-sc-v13-latin-700.ttf") format("truetype"), url("/assets/fonts/amatic-sc-v13-latin-700.svg#AmaticSC") format("svg");
  /* Legacy iOS */
}
/* puritan-regular - latin */
@font-face {
  font-family: "Puritan";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/puritan-v11-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Puritan Regular"), local("Puritan-Regular"), url("/assets/fonts/puritan-v11-latin-regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/puritan-v11-latin-regular.woff2") format("woff2"), url("/assets/fonts/puritan-v11-latin-regular.woff") format("woff"), url("/assets/fonts/puritan-v11-latin-regular.ttf") format("truetype"), url("/assets/fonts/puritan-v11-latin-regular.svg#Puritan") format("svg");
  /* Legacy iOS */
}
/* puritan-italic - latin */
@font-face {
  font-family: "Puritan";
  font-style: italic;
  font-weight: 400;
  src: url("/assets/fonts/puritan-v11-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Puritan Italic"), local("Puritan-Italic"), url("/assets/fonts/puritan-v11-latin-italic.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/puritan-v11-latin-italic.woff2") format("woff2"), url("/assets/fonts/puritan-v11-latin-italic.woff") format("woff"), url("/assets/fonts/puritan-v11-latin-italic.ttf") format("truetype"), url("/assets/fonts/puritan-v11-latin-italic.svg#Puritan") format("svg");
  /* Legacy iOS */
}
/* puritan-700 - latin */
@font-face {
  font-family: "Puritan";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/puritan-v11-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Puritan Bold"), local("Puritan-Bold"), url("/assets/fonts/puritan-v11-latin-700.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/puritan-v11-latin-700.woff2") format("woff2"), url("/assets/fonts/puritan-v11-latin-700.woff") format("woff"), url("/assets/fonts/puritan-v11-latin-700.ttf") format("truetype"), url("/assets/fonts/puritan-v11-latin-700.svg#Puritan") format("svg");
  /* Legacy iOS */
}
/* puritan-700italic - latin */
@font-face {
  font-family: "Puritan";
  font-style: italic;
  font-weight: 700;
  src: url("/assets/fonts/puritan-v11-latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local("Puritan Bold Italic"), local("Puritan-BoldItalic"), url("/assets/fonts/puritan-v11-latin-700italic.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/puritan-v11-latin-700italic.woff2") format("woff2"), url("/assets/fonts/puritan-v11-latin-700italic.woff") format("woff"), url("/assets/fonts/puritan-v11-latin-700italic.ttf") format("truetype"), url("/assets/fonts/puritan-v11-latin-700italic.svg#Puritan") format("svg");
  /* Legacy iOS */
}
body {
  font-family: "Puritan", sans-serif;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.15px;
  color: #222222;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
.h2 {
  font-family: "Amatic SC", cursive;
  letter-spacing: 2px;
  color: #000000;
}

h1,
.h1 {
  font-size: 24px;
}

h2,
.h2 {
  font-size: 24px;
  line-height: 40px;
  margin-top: 42px;
  margin-bottom: 14px;
  display: block;
}

h3,
.h3 {
  font-size: 16px;
  font-weight: bold;
}

p {
  margin-bottom: 28px;
  margin-bottom: 32px;
}

p + ul {
  margin-top: -12px;
}

ul {
  padding-left: 24px;
}

ul li {
  list-style: disc;
}

a {
  color: #222222;
  text-decoration: none;
  border-bottom: 1px solid #bdbdbd;
}

a:hover {
  color: #000000;
  border-bottom: 1px solid #000000;
}

input[type=text],
textarea {
  font-family: "Puritan", sans-serif;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.15px;
  color: #222222;
  -webkit-font-smoothing: antialiased;
  background: #fff;
  border: 1px solid #bdbdbd;
  width: 100%;
  resize: none;
  border-radius: 3px;
  padding: 8px 12px;
  -webkit-appearance: none;
}

input[type=text]:focus,
textarea:focus {
  border: 1px solid #777777;
}

.button {
  font-family: "Amatic SC", cursive;
  letter-spacing: 2px;
  color: #000000;
  background: #222222;
  background: #000000;
  font-size: 22px;
  line-height: 44px;
  letter-spacing: 2px;
  border: none;
  border-radius: 3px;
  display: block;
  height: 44px;
  color: white;
  padding: 0 24px;
  cursor: pointer;
  -webkit-appearance: none;
}

.button:hover {
  background: #222;
}

.button:active {
  background: #000;
  color: #aaa;
}

label.selector {
  display: block;
  margin-bottom: 8px;
}

::selection {
  background: #30C3BB;
  color: #ffffff;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.select {
  -webkit-user-select: text;
  user-select: all;
}

.info {
  display: block;
  margin-bottom: 8px;
}

h2 + .info,
.h2 + .info {
  margin-top: -2px;
  margin-bottom: 18px;
}

#nav {
  height: 90px;
  margin: 0 auto;
}

#nav-logo {
  font-family: "Amatic SC", cursive;
  font-size: 64px;
  position: absolute;
  width: 100px;
  height: 90px;
  line-height: 60px;
  letter-spacing: 7px;
  text-align: center;
  left: calc(50% - 2px);
  top: 28px;
  transform: translateX(-50%);
  cursor: pointer;
}
#nav-logo .logo-amp {
  color: #30C3BB;
  font-size: 38px;
  position: relative;
  top: -9px;
}

#nav-left {
  position: absolute;
  right: calc(50% + 98px);
  top: 50px;
  text-align: right;
}
#nav-left a {
  display: block;
  float: right;
  margin-left: 32px;
}

#nav-right {
  position: absolute;
  left: calc(50% + 98px);
  top: 50px;
  text-align: left;
}
#nav-right a {
  float: left;
  margin-right: 32px;
}

#nav-left a,
#nav-right a {
  color: #222222;
  font-family: "Amatic SC", cursive;
  letter-spacing: 2px;
  font-size: 28px;
  text-decoration: none;
  border: none;
  position: relative;
  opacity: 1;
  display: block;
}
#nav-left a::after,
#nav-right a::after {
  content: "";
  width: 100%;
  height: 3px;
  display: block;
  position: absolute;
  bottom: -7px;
  background-image: url("/assets/images/highlight.png");
  background-size: 100% 100%;
  opacity: 0;
  transition: all 0.1s linear;
}
#nav-left a.selected::after, #nav-left a:hover::after,
#nav-right a.selected::after,
#nav-right a:hover::after {
  opacity: 1;
  transition: all 0.05s linear;
}

.main {
  max-width: 600px;
  margin: 80px auto;
  padding: 0 24px;
}

.main img {
  max-width: 100%;
}

.spin .main {
  overflow: hidden;
  position: relative;
  max-width: 500px;
  padding-top: 45px;
  padding-bottom: 455px;
}

.home-info {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translateY(-50%) translateX(-50%);
}
.home-info h2 {
  font-size: 40px;
  line-height: 54px;
  margin: 0;
}
.home-info a {
  color: #30C3BB;
  border: 0;
  display: inline-block;
  position: relative;
}
.home-info a:hover {
  opacity: 0.7;
}
.home-info a::after {
  content: "";
  width: 100%;
  height: 3px;
  display: block;
  position: absolute;
  bottom: 1px;
  background-image: url("/assets/images/highlight.png");
  background-size: 100% 100%;
}
.home-info .dot {
  font-size: 22px;
  line-height: 22px;
  position: relative;
  top: -4px;
  padding: 4px;
  color: #30C3BB;
}

@keyframes outer-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes anti-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.illustration-wrapper {
  position: absolute;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-left: -200px;
}

.illustrations,
.illustrations-content {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

.illustrations {
  z-index: 1;
  animation: outer-spin 40000ms linear infinite;
}

.illustrations-content {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  line-height: 54px;
  font-family: "Amatic SC", cursive;
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
}

.illustration {
  position: absolute;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  transform: translateX(-100%) translateY(-100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border-radius: 100%;
  animation: anti-spin 40000ms linear infinite;
}

.illustration:nth-child(1) {
  top: -3%;
  left: 50%;
  background-image: url("/assets/images/icon-pizza.jpg");
}

.illustration:nth-child(2) {
  top: 1%;
  left: 70.5%;
  background-image: url("/assets/images/icon-pie.jpg");
}

.illustration:nth-child(3) {
  top: 12.5%;
  left: 87.1%;
  background-image: url("/assets/images/icon-tea.jpg");
}

.illustration:nth-child(4) {
  top: 30%;
  left: 98.5%;
  background-image: url("/assets/images/icon-croissant.jpg");
}

.illustration:nth-child(5) {
  top: 50%;
  left: 102.5%;
  background-image: url("/assets/images/icon-banana.jpg");
}

.illustration:nth-child(6) {
  top: 70%;
  left: 98.5%;
  background-image: url("/assets/images/icon-bun.jpg");
}

.illustration:nth-child(7) {
  top: 87%;
  left: 88%;
  background-image: url("/assets/images/icon-dumpling.jpg");
}

.illustration:nth-child(8) {
  top: 98.5%;
  left: 70%;
  background-image: url("/assets/images/icon-pretzel.jpg");
}

.illustration:nth-child(9) {
  top: 102.5%;
  left: 50%;
  background-image: url("/assets/images/icon-cookie.jpg");
}

.illustration:nth-child(10) {
  top: 98.5%;
  left: 30%;
  background-image: url("/assets/images/icon-bread.jpg");
}

.illustration:nth-child(11) {
  top: 87%;
  left: 13%;
  background-image: url("/assets/images/icon-cake.jpg");
}

.illustration:nth-child(12) {
  top: 70%;
  left: 1.5%;
  background-image: url("/assets/images/icon-bagel.jpg");
}

.illustration:nth-child(13) {
  top: 50%;
  left: -2.5%;
  background-image: url("/assets/images/icon-meringue.jpg");
}

.illustration:nth-child(14) {
  top: 29.5%;
  left: 1%;
  background-image: url("/assets/images/icon-lemon.jpg");
}

.illustration:nth-child(15) {
  top: 12.5%;
  left: 12.5%;
  background-image: url("/assets/images/icon-cone.jpg");
}

.illustration:nth-child(16) {
  top: 1%;
  left: 30%;
  background-image: url("/assets/images/icon-coffee.jpg");
}

#form-rsvp .button {
  margin-top: 40px;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
}

.gallery > a {
  display: block;
  float: left;
  width: calc((100% / 3) - 12px);
  margin-right: 18px;
  margin-bottom: 18px;
  text-decoration: none;
  border: none;
}
.gallery > a img {
  display: block;
}

.gallery > a:hover {
  border: none;
}

.gallery > a:nth-child(3n) {
  margin-right: 0;
}

.gm-style-cc {
  display: none;
}

@media (max-width: 800px) {
  #nav #nav-left,
#nav #nav-right {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    left: auto;
    right: auto;
    top: 115px;
  }
  #nav #nav-left a,
#nav #nav-right a {
    float: none;
    display: inline-block;
    text-align: center;
    margin: 0 16px;
  }
  #nav #nav-left {
    flex-direction: row-reverse;
  }
  #nav #nav-right {
    top: 165px;
  }

  .main {
    margin-top: 170px;
  }

  .spin .main {
    margin-top: 150px;
  }
}
@media (max-width: 560px) {
  .illustration-wrapper {
    width: 70vw;
    height: 70vw;
    margin-left: -35vw;
  }

  .illustration {
    width: 13vw;
    height: 13vw;
    margin-top: -6.5vw;
    margin-left: -6.5vw;
  }

  .home-info h2 {
    font-size: 8vw;
    line-height: 1.35;
  }

  .main {
    margin-top: 160px;
  }

  .spin .main {
    margin-top: 140px;
    padding-bottom: 80vw;
    margin-bottom: 40px;
  }
}
@media (max-width: 400px) {
  .gallery > a {
    width: calc((100% / 2) - 12px);
    margin-right: 18px;
    margin-bottom: 18px;
  }

  .gallery > a:nth-child(3n) {
    margin-right: 18px;
  }

  .gallery > a:nth-child(2n) {
    margin-right: 0;
  }
}
@media (max-width: 400px) {
  .home-info h2 {
    font-size: 8.5vw;
    line-height: 1.35;
  }
}
@media (max-width: 320px) {
  #nav a {
    font-size: 8vw !important;
  }
}

/*# sourceMappingURL=style.css.map */
